@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  --bg-main:#131722;
  --lightBgColor:#24baef;
  --fontColor:#fff;
  --borderColor:#a8a8a83d;
  --borderHeight:1px;
  --secondFontColor:#949cb0;
  --f-family:'Montserrat', sans-serif;
}

body{
  background-color: var(--bg-main);
  color: var(--fontColor);
  font-family:'Montserrat', sans-serif ;
}
.bg-light{
  background-color: var(--lightBgColor);
}

a ,a:hover
{
  text-decoration: none;
  color:var(--fontColor)
}
.myInput{
  background-color: transparent;
  color: var(--fontColor);
  border: solid 1px var(--borderColor);
}
.vote{
  background-color: var(--lightBgColor);
  color: var(--fontColor);
}
.brdr{
  height: 1px ;
  background-color: var(--borderColor);
}
.listaaa{
  cursor: pointer;
    background-color:#00000057;
  }
  #loading
{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
    color: var(--lightBgColor);
    background-color: var(--bg-main);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    font-weight: bolder;
}